<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 配置struts的过滤器，规定过滤器的类，和拦截的请求类型 -->
	<filter>
	   <filter-name>freemkstruts</filter-name>
	   <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>freemkstruts</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 如果要使用freemarker作为真正的视图，就要加载这个类 
	A servlet that means to expose itself through a 
	public static member variable such that its ServletContext could be accessible. -->
	<servlet>
	   <servlet-name>jspSupport</servlet-name>
	   <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
	   <!-- 自动启动 -->
	    <load-on-startup>1</load-on-startup>
	</servlet>
  <welcome-file-list>
    <welcome-file>login.ftl</welcome-file>
  </welcome-file-list>
</web-app>
