<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 配置struts的过滤器，规定过滤器的类，和拦截的请求类型 -->
	<filter>
	   <filter-name>freemkstruts</filter-name>
	   <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>freemkstruts</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 在Freemarker中使用Struts2标签,让Freemarker可以使用jsp标签必须配置一个新SERVLET -->
	<servlet>
	   <servlet-name>JspSupportServlet</servlet-name>
	   <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
