<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<!-- <appender>是<configuration>的子节点，是负责写日志的组件。此处是写入控制台 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} -
				%msg%n</pattern>
		</layout>
	</appender>
	
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
	<logger name="org.springframework.ui.freemarker" level="DEBUG" />
	
	<!-- 将信息写入文件 -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">  
    <file>strutsTestLogger.log</file>  
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
      <fileNamePattern>logs/xxx.%d{yyyy-MM-dd}.log.zip</fileNamePattern>  
    </rollingPolicy>  
    <layout class="ch.qos.logback.classic.PatternLayout">  
      <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>  
    </layout>  
  </appender>  
    
    <!-- 规定把信息同时输入到控制台和文件里面 -->
	<root level="DEBUG">
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>
</configuration>
