<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 定义数据源Bean，使用C3P0数据源实现 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<!-- 指定连接数据库的URL -->
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/studentmgr" />
		<!-- 指定连接数据库的用户名 -->
		<property name="user" value="root" />
		<!-- 指定连接数据库的密码 -->
		<property name="password" value="dengchao" />
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="20" />
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="1" />
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="1" />
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="20" />
	</bean>

	<!--定义了Hibernate的SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>User.hbm.xml</value>
				<value>Course.hbm.xml</value>
				<value>Score.hbm.xml</value>
				<value>Student.hbm.xml</value>
				<value>StudentClass.hbm.xml</value>
			</list>
		</property>
		<!-- hibernate的连接属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- ，规定hibernate的方言是mysql数据库的，如果是其它的数据库，方言要修改 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- 是否在前台显示hibernate的SQL语句 -->
				<prop key="show_sql">true</prop>
				<!-- 启动的时候选择更新 ，是否根据HBM文件创建数据连接表-->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.jdbc.batch_size">20</prop>
			</props>
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<!-- 事务拦截器bean需要依赖注入一个事务管理器 -->
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<!-- 下面定义事务传播属性 -->
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!-- 定义BeanNameAutoProxyCreator -->
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<!-- 指定对满足哪些bean name的bean自动生成业务代理 -->
		<property name="beanNames">
			<!-- 下面是所有需要自动创建事务代理的bean -->
			<list>
				<value>mgr</value>
			</list>
			<!-- 此处可增加其他需要自动创建事务代理的bean -->
		</property>
		<!-- 下面定义BeanNameAutoProxyCreator所需的事务拦截器 -->
		<property name="interceptorNames">
			<list>
				<!-- 此处可增加其他新的Interceptor -->
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
    <!-- 把Dao层的组件注入业务逻辑 -->
	<bean id="mgr" class="service.imp.StudentManagerImpl">
		<property name="userDao" ref="userDao" />
		<property name="courseDao" ref ="courseDao"/>
		<property name="scoreDao" ref="scoreDao"/>
		<property name="studentDao" ref="studentDao"/>
		<property name="studentClassDao" ref="studentClassDao"/>
	</bean>
	<!-- 配置DAO组件的模板，指定了sessioinFactory实例 -->
	<bean id="daoTemplate" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
    <!-- 具体的DAO组件 -->
	<bean id="userDao" class="dao.imp.UserDaoHibernate"
		parent="daoTemplate" />
	<bean id="courseDao" class="dao.imp.CourseDaohiHernate"
	parent="daoTemplate" />
	<bean id="scoreDao" class="dao.imp.ScoreDaoHibernate"
		parent="daoTemplate" />
	<bean id="studentDao" class="dao.imp.StudentDaoHibernate"
		parent="daoTemplate" />
	<bean id="studentClassDao" class="dao.imp.StudentClassDaoHibernate"
		parent="daoTemplate" />
		
	<!-- 一些spring的配置，不用管 -->
	<bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="0" />
		<property name="period" value="86400000" />
		<property name="timerTask" ref="checkWiner" />
	</bean>

	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="scheduledTask" />
			</list>
		</property>
	</bean>
</beans>
